// grid

.g {
	padding: 5px;
	
	@media all and (min-width: 20em) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

.g-item {
	padding: 2em 1em;
	outline: 5px solid rgba(255,255,255,0);
	background: #00b8b9;
	text-align: center;
	outline: 5px solid #fff;
	
	@media all and (min-width: 20em) {
		flex: 1 0 50%;
	}
	
	@media all and (min-width: 30em) {
		flex: 1 0 33.33333%;
	}
	
	@media all and (min-width: 40em) {
		flex: 1 0 25%;
	}
}